*{
    box-sizing: border-box;
}
body{
    background-color: lightgrey
}
.container{
    width: 660px;
    margin: auto;
    background-color:white;
    padding:0 10px;
    height: 2750px;
    
}
header h1{
    font-size: 25px;
    font-weight: bold;
    font-style: normal;
    padding-bottom: 10px;
}
header p{
    font-size: 20px;
    font-style: normal;
    padding-bottom: 10px;
    line-height: 15px;
}
header a:link{
color: black
}
header a:hover{
color: orange;
}
header a:active{
color: blue ;
}
header a:visited{
color: mediumvioletred;
}
.information{
     margin: 0 0 15px;
}
.information h2{
    background-color: lightgrey;
    font-size: 25px;
    padding: 10px 15px;
    margin: 15px;
}
.information h3{
    padding: 11px 21px;
    font-size: 20px;
}
.information .info-data{
    padding-left: 20px;
    font-size: 20px;
    line-height: normal;
}
.list-1{
    padding: 0px 32px;
}
.list-2{
    padding: 0px 32px;
}
.table-1{
    margin: auto;
}
.table-1 td{
background-color: lightgrey;
border: solid 2px black;
text-align: center;
}
.table-1 th{
background-color: lightgrey;
border: solid 2px black;

}
.form-style-1 .fixed-width{
    min-width: 200px;
    display: inline-block;
}
.form-style-1 .input-section{
   margin-bottom:25px;
}
.form-style-1 input[type="text"],
.form-style-1 input[type="email"],
.form-style-1 input[type="tel"],
.form-style-1 select,
.form-style-1 textarea{
    border: solid 1px yellow;
    padding: 4px;
    min-width: 200px;
}
.form-style-1 .action-section{
    margin-left: 200px;
    display: inline-block;
}
.form-style-1 textarea{
  min-height: 150px;
}
.form-style-1 input:focus{
    border-color: red;
    outline: none;
    box-shadow: blue 0 0 10px 3px;
}
.primary-button{
background-color: crimson;
border: none;
padding: 10px 28px;
color: white;
cursor: pointer;
font-size: 15px;
}

